asgiref>=3.7
cffi>=1.15.0
charset-normalizer>=3.3
contourpy>=1.0
cryptography>=42.0.0
cycler>=0.12
Django==5.2.7
fonttools>=4.40
kiwisolver>=1.4
matplotlib>=3.7
numpy>=1.26
packaging>=23.0
pandas>=2.2
pdfminer.six>=20221105
pdfplumber>=0.11.0
pillow>=10.0
pycparser>=2.20
pyparsing>=3.1
pypdfium2>=4.20.0
python-dateutil>=2.9
pytz>=2024.1
reportlab>=4.1
six>=1.16
sqlparse>=0.5
tzdata>=2024.1
gunicorn
whitenoise
dj-database-url
psycopg2-binary
